
MyReactApp/firstapp/src/Assets/Virat.jpeg
/node_modules/.bin
/node_modules/@remix-run/router/dist
/node_modules/@remix-run/router
/node_modules/react-router-dom/dist/umd
/node_modules/react-dom/cjs
/node_modules/react-dom
/node_modules/js-tokens
/node_modules/loose-envify
/node_modules/react-router-dom
/node_modules/react-router/dist
/node_modules/react-router
/node_modules/react/cjs
/node_modules/react
/node_modules/scheduler/cjs
/node_modules/scheduler/umd
/node_modules/scheduler
node_modules/.package-lock.json
