.para1{
    background-color: aqua;
    color: brown;
    font-family: 'Franklin Gothic Medium';
}

.para2{
    background-color: blueviolet;
    color: black;
    font-family: 'Segoe UI';
}

.image-class{
    height: 30%;
    width : 50%;
}

.grid-container {
    display: grid;
    height: 750px;
    width: 100%;
}

.grid-item1 {
    background-color: orangered;
}

.grid-item2 {
    background-color: white;
}

.grid-item3 {
    background-color: green;
}

.para1 {
    background-color: aqua;
    color: brown;
    font-family: 'Franklin Gothic Medium';
}

.para2 {
    background-color: blueviolet;
    color: black;
    font-family: 'Segoe UI';
}

.image-class {
    height: 30%;
    width: 50%;
}